* {
    text-align: center;
    box-sizing: border-box;
    line-height: 1.3;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    background-color: beige;
    font-size: 1.1rem;
}

.name:after {
    content: "Chai Chong Teh";
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

/* Navigation Styles */
.title {
    text-align: center;
    padding: 2rem 0;
    text-transform: uppercase;
    display: block;
    font-weight: bold;
}

.header {
    background-color: beige;
    padding: 0.5rem 1rem;
    z-index: 100;
}

.header ul {
    padding: 0.3rem 0;
}

.header ul li {
    background: white;
    text-transform: uppercase;
    list-style: none;
    display: block;
    margin: 0.5rem 0;
    padding: 1rem;
}

a,
a:visited {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 0;
    /* left: 0; */
    width: 100%;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 1);
}

.sticky ul {
    display: flex;
    justify-content: center;
}

/* Profile Styles */

.introduction {
    padding: 1rem 4rem;
    margin-top: 2rem;
}

#profile-picture {
    width: 100%;
    max-width: 500px;
}

.introduction p {
    margin: 0.5rem 0.8rem 3rem 0.8rem;
    line-height: 1.3;
}

/* Portfolio Styles */
#portfolio:target::before {
    content:"";
    display:block;
    height: 190px;
    margin: -120px 0 0;
}

.small-title {
    font-size: 1.5rem;
    padding: 1.8rem 0;
}

main.content {
    background-color: white;
}

.cards {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.cards img {
    /* display: block; */
    object-fit: cover;
    width: 100%;
    height: 200px;
    position: relative;
}

.description {
    padding-top: 0.5rem;
}

/* Contact Styles */
#contact {
    background-color: beige;
    color: rgb(94, 98, 102);
    padding: 2rem 1rem;
}

hr {
    margin-top: 2rem;
    width: 80%;
    color: rgb(200, 200, 200);
}

.address li {
    /* margin: 1.5rem 0; */
    margin-top: 1rem;
}

/* Footer Styles */
footer {
    margin: 1.5rem 0;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 0 2rem;
}

.appear-large {
    display: none;
}

@media screen and (min-width: 720px) {
    body * {
        vertical-align: top;
    }

    .title {
        padding-bottom: 0.5rem;
    }

    header * {
        justify-content: space-around;
    }

    .header ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }

    .header ul li {
        background-color: beige;
        padding: 0 2rem;
    }
    
    .introduction {
        display: flex;
        flex-direction: row-reverse;
        margin: 0;
        padding: 0;
    }
    
    .introduction * {
        text-align: left;
        border: 1px solid red;
        width: 100%;
    }

    .introduction p {
        width: 55%;
        margin: 0;
        /* padding: 1rem; */
    }

    #profile-picture {
        width: 45%;
        max-width: 400px;
        /* height: auto; */
        margin: 0;
        padding: 0;
        /* padding: 1rem; */
    }

    #portfolio:target::before {
        content:"";
        display:block;
        /* height: 550px; */
        margin: -120px 0 0;
    }

    .cards {
        display: inline-block;
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(50% - 10px);
        padding: 0;
        /* border: 1px solid red; */
    }

    .cards > * {
        display: block;
    }

    .small-title {
        padding: 0.8rem 0;
    }

    .appear-large {
        display: none;
    }    
}

@media screen and (min-width: 1024px) {
    header * {
        /* align-content: center; */
        vertical-align: middle;
        justify-content: flex-end;
    }

    h1.title {
        padding-bottom: 2rem;
    }
    
    .top-container,
    .header {
        /* height: 50px; */
        display: inline-flex;
        /* margin: 0; */
        /* padding: 0; */
    }

    .header {
        padding: 1.6rem 0;
        right: 0;
        position: fixed;
    }

    .header ul li a {
        right: 0;
    }

    .top-container {
        position: fixed;
        left: 0;
        padding-left: 1.7rem;
    }

    .introduction {
        padding-top: 8rem;
    }

    .big-gap {
        padding-top: 100px;
    }
    
    .cards {
        width: calc(33.33% - 30px);
        margin: 1rem 0.5rem;
    }

    #contact {
        margin-top: 1rem;
    }

    .appear-usual {
        display: none;
    }

    .appear-large {
        display: flex;
        font-weight: bold;
    }
    .appear-large * {
        padding-left: 2rem;
    }
}